BackupSystem.WinApp/Service References/BackupSystemService/BackupManager11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BackupSystem.WebService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BackupSystem.WebService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfwcfScheduleDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wcfScheduleDetails" nillable="true" type="tns:wcfScheduleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfwcfScheduleDetails" nillable="true" type="tns:ArrayOfwcfScheduleDetails" />
  <xs:complexType name="wcfScheduleDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupType" type="tns:Enums.BackupType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Schedule_Detail_Id" type="xs:long" />
      <xs:element minOccurs="0" name="SourcePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUser_DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUser_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUser_DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUser_Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wcfScheduleDetails" nillable="true" type="tns:wcfScheduleDetails" />
  <xs:simpleType name="Enums.BackupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoType" />
      <xs:enumeration value="Simple_Folder_Copy" />
      <xs:enumeration value="Incremental_Backup" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.BackupType" nillable="true" type="tns:Enums.BackupType" />
  <xs:simpleType name="Enums.Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoStatus" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.Status" nillable="true" type="tns:Enums.Status" />
</xs:schema>