BackupSystem.WinApp/Service References/BackupSystemService/BackupManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4501/BackupManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BackupSystem.WebService.Data" />
  <xs:element name="CreateScheduleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScheduleDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BackupSystem.WebService.Data" minOccurs="0" name="GetScheduleDetailsResult" nillable="true" type="q1:ArrayOfwcfScheduleDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ScheduleDetailStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScheduleDetailId" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BackupSystem.WebService.Data" minOccurs="0" name="status" type="q2:Enums.Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ScheduleDetailStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>